body {
    margin: 0;
    display: flex;
     flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    font-family: cursive;
    background-color: slateblue;
}

h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.year {
    font-size: 5em;
    color: white;
    font-weight: bold;
}

.countdown {
    margin: 30px;
    display: flex;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    color: white;
    height: 120px ;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.countdown div {
    margin: 0 15px;
    font-size: 2.9em;
    font-weight: 500;
    margin-top: -25;
    text-align: center;
    width: 100px;
    position: relative;
}

.countdown div::before {
    content: "";
    position: absolute;
    bottom: -30px;
    font-size: .35em;
    line-height: 30px;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    height: 35px;
    width: 100%;
    text-align: center;
     
}

.countdown #day::before {
    content: "Days";
}
.countdown #hour::before {
    content: "Hour";
}
.countdown #minute::before {
    content: "Minute";
}
.countdown #second::before {
    content: "Second";
}